/* TODO: --------------------------------------- action btn ------------------------- */

.actionBtn{
        border: .2rem solid transparent;
        cursor: pointer;
        font-size: 1.3rem;
        padding: .8rem 2.5rem;
        color: #fff;
        background-color: #000;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
}

.actionBtn:hover{
        background-color: #fff;
        color: #000;
        border: .2rem solid #000;
}

.readBtn{
        border: .2rem solid transparent;
        cursor: pointer;
        font-size: 1.2rem;
        padding: .5rem 1rem;
        color: #fff;
        background-color: #000;
        border-radius: 3rem;
        -webkit-border-radius: 3rem;
        -moz-border-radius: 3rem;
        -ms-border-radius: 3rem;
        -o-border-radius: 3rem;
}


.readBtn:hover{
        background-color: #fff;
        color: #000;
        border: .2rem solid #000; 
}



/* -------------------------- media query ---------------------------- */
@media (width < 576px){
        .actionBtn{
                padding: .7rem 1.7rem;
        }
    }